<?php

return[
    'zf-metal-mail.options' => [
        'default_from' => 'sonriu.turnos@gmail.com',
        'transport' => 'Zend\Mail\Transport\Smtp',
        'transport_options' => [
            'name' => 'Gmail',
            'host' => 'smtp.gmail.com',
            'port' => 465,
            // Notice port change for TLS is 587
            'connection_class' => 'plain',
            'connection_config' => [
                'username' => 'sonriu.turnos@gmail.com',
                'password' => 'completarPassworSoloEnLocal',
                'ssl' => 'ssl',
            ],
        ]
    ],
];
